<html>
<head>
<title>Managing {{ shortname }} | epiTOME</title>
<style>

body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
}

input {
  font-size: larger;
}

#delete {
  color: #0099EE;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

function initialize() {
  var tomeExport = Object();
  $.get('/{{ shortname }}/tome.json', function(data, textStatus, jqXHR) {
      tomeExport = data;
      tomeExport = tomeExport.split('^^THIS IS A SEPARATOR^^')[0];
      $('#export').val(tomeExport);
  });

};

window.onload = initialize;
</script>
</head>
<body>
<form action="/{{ shortname }}/update" method="post" autocomplete="off">
  Codeword: <input type="password" id="codeword" name="codeword" required><br>
  <br>
  <textarea name="export" id="export" rows=20 cols=100></textarea><br>
  <br>
  <input type="submit" value="Update">
</form>
<br>
<br>
<a id="delete" href="/{{ shortname }}/slums">delete this tournament</a>
</body>
</html>
