<html>
<head>
<title>epiTOME - new tournament</title>
<meta name=viewport content="width=device-width, initial-scale=1">
<style>

body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
}

input {
  margin-right: 5px;
  margin-top: 5px;
}

#nameNotice {
  color: red;
  font-size: smaller;
  font-style: italic;
}
</style>

<script type="text/javascript">
  existing_names = [{{ existing_names|safe }}]

  function doesNameExist() {
    var tname = document.getElementById('tname').value.toLowerCase();
    var text = '';
    var ret_value = true;
    if (existing_names.includes(tname)) {
      text = 'this name is already in use';
      ret_value = false;
    }
    document.getElementById('nameNotice').innerHTML = text;

    return ret_value;
  }
</script>
</head>
<body>
<h2>Create a new tournament</h2>

<form action="/create" method="post" onsubmit="return doesNameExist()">
  <label for="tname">Tournament Name:</label><br />
  <input type="text" id="tname" name="tname" pattern="[A-Za-z0-9\-]{3,}" title="Letters, numbers, and hyphens (min. 3 chars)" required onChange="doesNameExist()"><span id="nameNotice"></span><br />
  <br />
  Your tournament name must be at least 3 characters long and use only letters, numbers, and hyphens.<br />
  <br />
  <label for="codeword">Secret codeword:</label><br />
  <input type="password" id="codeword" name="codeword" required><br />
  <br />
  The codeword you select will be required to update the tournament.<br />
  <em>Please note that this is not a secure password.</em><br />
  <br />
  <input type="submit" value="Create Tournament">
</form>
</body>
</html>
