<html>
<head>
<title>Information | epiTOME</title>
<style>
body {
  font-family: 'Noto Sans', 'Arial', sans-serif;
}
pre {
  margin-left: 25px;
  color: #003300;
}
a {
  text-decoration: none;
}
</style>
</head>
<body>
<h3>Creating a tournament page</h3>
<p>
If you're using NRTM, the app can handle creating and updating your tournament for you.<br>
If you're using TOME, create a new tournament page at:
<pre>https://anr-epitome.appspot.com/_to/new</pre>
</p>
<h3>Updating the tournament page</h3>
<p>
Each round, after you generate pairings in TOME, export the tournament in TOME and update epiTOME with the new JSON.
</p>
<p>
If you have the tournament's codeword, you can update an existing tournament at:
<pre>https://anr-epitome.appspot.com/[tournament-name]/manage</pre>
</p>
<p>
Standings and pairings will be available at:
<pre>https://anr-epitome.appspot.com/[tournament-name]/</pre>
</p>
<h3>Development</h3>
<p>epiTOME is sporadically developed by
<span title="aleph_c" style="font-size: larger">ℵ<sub style="font-size: large">𝔠</sub></span> .
</p>
<a href="https://github.com/temetherian/epitome">GitHub</a>
</body>
</head>
